# Check if virtual environment exists, if not create it
if [ ! -d "shared_venv" ]; then
  echo "Creating virtual environment..."
  python -m venv shared_venv
  source shared_venv/bin/activate
  pip install -r requirements.txt
else
  source shared_venv/bin/activate
fi

# Add the project's bin directory to PATH
PATH_add shared_venv/bin