# Virtual environment
venv/
shared_venv/

# Data directories and files
datasets
datasets/

# Images for purposefully ignored Notebooks
images_/

# IDE settings
.vscode

# Jupyter Notebooks (filtering most of them out since they're basically drafts of the final code available in Python modules)
*_.ipynb

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compressed files
*.tgz

# Other temporary or unnecessary files
__pycache__/
*.py[cod]
*.so
*.dylib
*.pyd
*.swp
*.bak
.DS_Store

# Model files (weigh normally a lot: Mb to Gb)
*.pkl
